.quizcardiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh; 
    width: 50%; 
    margin: auto;
    background-color: #ffffff; 
    border: 3px solid #000000; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.imgquiz{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    min-height: 100px; 
    /*overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;*/
}


.quiz{
    color: #3E2332;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    
     overflow: hidden; 
    overflow-wrap: break-word; 
    white-space: normal;    
}

.exploradorquiz{
    max-width: 100%;
    height: auto;
    border: 3px solid #000000; 
    border-radius: 50px; 
    overflow: hidden; 
}

.label{
    color: #3E2332;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10px; 
}

.dropdown{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #3E2332;
    border-radius: 4px;
     background-color: #fff;
    color: #D78871;
    cursor: pointer;
}

.dropdown option:hover {
    background-color: #D78871; 
}

@media only screen and (max-width: 768px) {
    .quizcardiv{
        height: 60vh;
        width: 84%;
    }
    
    .imgquiz{
        flex-direction: column;
    }
}